*{
    font-family: Arial, sans-sarif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f9fa;
    color: #333;
}

.top-bar{
    background: #111827;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    font-size: 14px;
}

.left-content span{
    margin-right: 20px;
}

.right-icon a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.right-icon a:hover{
    opacity: 0.8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0,1);
    text-decoration: none;
}

.logo{
    color: #4caf50;
    font-size: 28px;
    font-weight: 600;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 16px;
}

.nav-links li{
    cursor: pointer;
    transition: color 0.3s;
}

.nav-links li:hover {
    color: #4caf50;
}

.nav-icons i {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-icons i:hover{
    color: #4CAF50;
}

/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: linear-gradient(to bottom, #EAF4EE 0%, #F5F5F5 100%);
}

.hero-text{
    max-width: 45%;
}

.hero-text h3{
    font-size: 22px;
    color: #555;
}

.hero-text h1{
    font-size: 36px;
    margin: 10px 0;
    color: #111;
}

.hero-text p {
    font-size: 15px;
    color: #555;
    line-height: 1.5;
}

.hero-img{
    width: 340px;
    mix-blend-mode: multiply;
    filter: brightness(1.0)
    contrast(1.3);
}

/* categories */
.categories{
    text-align: center;
    padding: 60px 20px;
}

.categories h2{
    font-size: 32px;
}

.categories p{
    color: #666;
    margin-top: 5px;
}

.category-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.cat-items{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0,1);
    transition: 0.3s;
}

.cat-items:hover{
    transform: translateY(-5px);
}

.cat-items img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.cat-items button{
    margin-top: 15px;
    padding: 8px 16px;
    background: #4caf50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cat-items button:hover{
    background: #45a049;
}

/* Featured product */
.featured{
    text-align: center;
    padding: 60px 20px;
}

.featured h2{
    font-size: 32px;
}

.featured p{
    color: #666;
}

.products{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.product-card{
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0,1);
    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-6px);
}

.product-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3{
    margin-top: 10px;
    font-size: 18px;
}

.product-card p{
    color: #4CAF50;
    font-weight: bold;
    margin-top: 5px;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background: #212529;
    color: white;
    padding: 50px 40px;
}

.footer-section h3{
    margin-bottom: 10px;
}

.footer-section p{
    color: #bbb;
    margin: 4px 0;
}

.footer-section i{
    margin-right: 10px;
}

/* Responsive */
@media (max-width: 850px) {
    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-text{
        max-width: 100%;
    }

    .category-box,
    .products,
    footer {
        flex-direction: column;
        align-items: center;
    }
}
